/* 
 * My97 DatePicker 4.7
 */
.WdateDiv {
	width: 220px;
	background-color: #FFFFFF;
	border: 0 none;
	padding: 0;
	margin: 1px 0 0 0;
	border: 3px solid #20beca;
	font-family: verdana, tahoma, arial;
	font-weight: bold;
	font-size: 12px;
	border-radius: 0;
	box-shadow: 0 1px 5px #cdcdcd;
}

.WdateDiv2 {
	width: 450px;
}

.WdateDiv * {
	font-size: 12px;
}

.WdateDiv .NavImg a {
	display: block;
	cursor: pointer;
	height: 25px;
	width: 20px;
	width: 18px\9;
}

.WdateDiv .NavImgll a {
	float: left;
	background: transparent url(double-left-arrow.png) no-repeat scroll center center;
}

.WdateDiv .NavImgl a {
	float: left;
	background: transparent url(left-arrow.png) no-repeat scroll center 2px;
}

.WdateDiv .NavImgr a {
	float: right;
	background: transparent url(right-arrow.png) no-repeat scroll center 2px;
}

.WdateDiv .NavImgrr a {
	float: right;
	background: transparent url(double-right-arrow.png) no-repeat scroll center center;
}

.WdateDiv #dpTitle {
	height: 25px;
	margin: 0;
	padding: 0;
	background-color: #20beca;
}

.WdateDiv .yminput {
	text-align: center;
	height: 25px;
	border: 0px;
	width: 70px;
	cursor: pointer;
	background-color: #20beca;
	font: bold 14px/25px 微软雅黑, verdana, tahoma, arial;
	color: #FFFFFF;
}

.WdateDiv .yminputfocus {
	text-align: center;
	font-weight: bold;
	height: 25px;
	color: blue;
	border: 1px solid #20beca;
	width: 70px;
	background-color: #20beca;
	font: bold 14px/25px tahoma, Arial, sans-serif;
	color: #FFFFFF;
}

.WdateDiv .menuSel {
	z-index: 1;
	position: absolute;
	background-color: #FFFFFF;
	border: 2px solid #20beca;
	display: none;
}

.WdateDiv .menu {
	cursor: pointer;
	background-color: #fff;
}

.WdateDiv .menuOn {
	cursor: pointer;
	background-color: #20beca;
}

.WdateDiv .invalidMenu {
	color: #aaa;
}

.WdateDiv .YMenu {
	margin-top: 23px;
}

.WdateDiv .MMenu {
	margin-top: 23px;
	*width:62px;
}

.WdateDiv .YMenu table tr td, .WdateDiv .MMenu table tr td {
	padding: 5px;
}

.WdateDiv .hhMenu {
	margin-top: -77px;
	margin-left: 33px;
}

.WdateDiv .mmMenu {
	margin-top: -41px;
	margin-left: 33px;
}

.WdateDiv .ssMenu {
	margin-top: -23px;
	margin-left: 33px;
}

.WdateDiv .Wweek {
	text-align: center;
	background: #20beca;
	border-right: 1px solid #20beca;
}

.WdateDiv .MTitle {
	background-color: #20beca;
}

.WdateDiv .WdayTable2 {
	border-collapse: collapse;
	border: 1px solid #20beca;
}

.WdateDiv .WdayTable2 tr td {
	border-left: 1px solid #20beca;
}

.WdateDiv .WdayTable2 table {
	border: 0;
}

.WdateDiv .WdayTable {
	line-height: 27px;
	border: 0 none;
}

.WdateDiv .WdayTable td {
	text-align: center;
	font-size: 13px;
	font-weight: bold;
}

.WdateDiv .WdayTable tr td {
	border-left: 0 none;
}

.WdateDiv .MTitle td {
	font-size: 14px;
	font-weight: bold;
	font-family: 微软雅黑, verdana, tahoma, arial;
}

.WdateDiv .Wday {
	cursor: pointer;
}

.WdateDiv .WdayOn {
	cursor: pointer;
	background-color: #20beca;
	color: #ffffff;
}

.WdateDiv .Wwday {
	cursor: pointer;
}

.WdateDiv .WwdayOn {
	cursor: pointer;
	background-color: #20beca;
	color: #ffffff;
}

.WdateDiv .Wtoday {
	cursor: pointer;
	color: #20beca;
}

.WdateDiv .Wselday {
	background-color: #20beca;
	color: #ffffff;
}

.WdateDiv .WspecialDay {
	background-color: #66F4DF;
}

.WdateDiv .WotherDay {
	cursor: pointer;
	color: #999999;
}

.WdateDiv .WotherDayOn {
	cursor: pointer;
	background-color: #20beca;
	color: #ffffff;
}

.WdateDiv .WinvalidDay {
	color: #aaa;
}

.WdateDiv #dpTime {
	display: block;
	margin: 0 0 3px 50px;
	height: 24px;
	line-height: 24px;
	font-family: verdana, tahoma, arial;
	font-size: 13px;
	font-weight: normal;
}

.WdateDiv2 #dpTime {
	margin: 3px 0 3px 155px;
}

.WdateDiv #dpTime #dpTimeStr {
	margin-left: 1px;
	font-size: 14px;
}

.WdateDiv #dpTime input {
	width: 20px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border: 2px solid #20beca;
	font: normal 13px verdana, tahoma, arial;
}

.WdateDiv #dpTime table tr td {
	height: 12px;
	line-height: 12px;
}

.WdateDiv #dpTime .tB {
	border-right: 0px;
}

.WdateDiv #dpTime .tE {
	border-left: 0;
	border-right: 0;
}

.WdateDiv #dpTime .tm {
	width: 7px;
	border-left: 0;
	border-right: 0;
}

.WdateDiv #dpTime #dpTimeUp {
	margin-top: 1px\9;
	height: 11px;
	width: 20px;
	background: url(up-arrow.png) no-repeat center center #20beca;
    border: 1px solid #20beca;
    cursor: pointer;
}

.WdateDiv #dpTime #dpTimeDown {
	margin-top: -1px;
	height: 11px;
	width: 20px;
	background: url(down-arrow.png) no-repeat center center #20beca;
    border: 1px solid #20beca;
    cursor: pointer;
}

.WdateDiv #dpQS {
	float: left;
	margin-left: 4px;
	margin-top: -2px;
	background: url(clock.png) no-repeat center center;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.WdateDiv #dpControl {
	display: block;
	height: 25px;
	line-height: 25px;
	text-align: right;
}

.WdateDiv .dpButton {
	height: 20px;
	width: 45px;
	border: 0 none;
	margin-right: 5px;
	background-color: #bdc3c7;
	border-radius: 1px;
	cursor: pointer;
}